

#center{
    height: 400px;
    width: 800px;
    border: 1px solid blck;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: lightblue; */
}

.imagediv{
    height: 240px;
    width: 180px;
    position: absolute;
    /* background-color: yellow; */
    overflow: hidden;
}

.imagediv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateY(100%);
}
